/* -------------------------------------- 
Table of contents 
1. banner and nested menu
2. page layout with flex box 
3. text and image format classes 
4. js file fomatting 
-------------------------------------- */

/*banner and nested menu*/
#bannerimg {
    width: 100%;
    height: 10vw;
}

#main-nav {
    margin-top: 2px;
}

#main-nav a {
    color: #f6f7f8;
    background: #254441;
    height: 64px;
    
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

#main-nav a:hover {
    background: #305753;
}

#main-nav ul {
    list-style: none;
    display: flex;
}

#main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
}

#main-nav li:hover .submenu > li {
    display: block;
    flex-direction: column;
    top: 0px;
}

.submenu li {
    display: none;
    position: absolute;
    top: 0px;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.submenu li {
    position: relative;
}

.submenu li:hover .submenu-2 li {
    display: block;
}

.submenu-2 li {
    display: none;
}

.submenu-2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 75%;
    width: 250px;
}

.arrow {
    margin-left: 8px;
    color: #eee;
    font-size: 12px;
}

h1 {
    font-family: lato;
    font-size: 72px;
}



/*page layout with flexbox*/
.flexbox-container {
    display: flex;
    flex-direction: row;
    border: none;

    /*main (left right) axis*/
    justify-content: stretch;
    /* justify-content: flex-start/*;
    /*justify-content: flex-end;*/
    /*justify-content: center;*/
    /*justify-content: stretch;*/
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;*/
    /*justify-content: space-end;*/
    /*cross (up down) axis*/
    align-items: space-evenly;
    /*align-items:stretch;*/
    /*align-items:space-between;*/
    /*align-items:space-around;*/
    /*align-items:end;*/
    /*align-items:space-evenly;*/
    ;


}

.flexbox-item {
    margin: 1px;
    padding: 1px;
    border: 3px solid #333;
    font-size: 28px;
    color: white;
    background-color: #254441;
    margin-bottom: 2px;
    margin-top: 20px;
}

.flexbox-item-1 {
    min-height: 100px;
    font-family: ubuntu;
    font-size: 28px;
    flex-grow: 1;
    justify-items: center;
}

.flexbox-item-2 {
    min-height: 300px;
    font-family: 'Notable', sans-serif;
}

.flexbox-item-3 {
    min-height: 300px;
    min-width: 300px;
}





/*text and image format classes*/
body {
    background-color: grey;
}

img {
    display: flex;
    justify-content: stretch;
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: 400px;
}

div {
    display: block;
}

/*js file formatting*/
canvas {
    border: thin solid #D9483B;
    position: relative;
    margin: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}

#sketch-holder {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/*notUsed in HTML*/
section {
  background: #f2f4f3;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
    flex-grow: 1;
    background: #8C3A27;
    color: #8C3A27;
    text-align: center;
    padding: 10px;
    border: 10px solid #000000;
}
#planets-holder {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#canvas2 {
    border: thin solid rgb(192, 239, 25);
    position: relative;
    margin: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}

.another-container {
    display: flex;
    border: 5px solid #000000;
    align-content: space-around;
    padding: 40px;
    margin-top: 20px;
    font-family: Arial;
    font-size: 28px;
}
.flexbox-item-4 {
    align-items: flex-end;
    min-height: 300px;
    min-width: 300px;
    flex: 1;
    height: 400px;
    border: 5px solid green;
    padding: 15px;
}